.form-container {
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.form-title {
  font-size: 1.7rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.SignUp {
  width: 90%;
  max-width: 300px; 
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin: 0 auto 15px auto; 
  display: block;
  outline: none;
  transition: 0.3s;
}

.SignUp:focus,
.SignUp:focus {
  border-color: #2c3eaa ;
  box-shadow: 0 0 5px rgba(123,63,228,0.3);
}

.SignBtn {
  width: 90%;
  max-width: 300px; 
  padding: 12px;
  background-color: #2c3eaa ;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  transition: 0.3s;
}

.SignBtn:hover {
  background-color: #2c3eaa ;
}

.form-footer {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #666;
}

.form-footer .link {
  color: #2c3eaa ;
  cursor: pointer;
  font-weight: 500;
}